<footer class="mt-5 footer">
  <div class="container-fluid box-fluid bg-dark">
      <div class="row py-1">
        <div class="col-md-6 col-sm-6 pt-1">
          <p class="text-white">© 2018 SDF Group</p>
        </div>
        <div class="col-md-6 col-sm-6 pt-1 text-sm-left text-md-right">
            <p class="text-white">Design and Developed by TrakItNow Technologies Pvt Ltd</p>
          </div>
        
      
      </div>
    
  </div>
</footer>