.bg-circle-outline{
    width:32px;
    height:32px;
    padding:6px 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left:15px;
  }
  
  .bg-circle-outline .fa{ font-size: 18px;}
  .bg-circle-outline a, a:hover, .media a:focus
  {
    text-decoration: none !important;
    outline: none;
    color: #ececec;
  }