<nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-bg">
            <li class="breadcrumb-item"><a routerLink="/auth/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a>{{Parent}}</a></li>
            <li class="breadcrumb-item active" aria-current="page" *ngIf="child">{{child}}</li>
        </ol>
</nav>