<div class="color-line"></div>
<header>
  <div class="container-fluid box-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-6 col-5">
        <div>
          <a href="dashboard.html">
            <img src="assets/img/SDF-logo.png" class="img-fluid login_img" alt="Logo">
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-7">
        <h3 class="text-center mt-2 welcome-hd-text">
           Depot & Dealer Management System</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="text-md-right pt-1">
          <span class="fa fa-user"></span>
          <span class="hidden-xs text-grey"> Welcome </span>
          <b> {{username}}</b>
          <div class="dropdown mt-1">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-gear"></i> Settings
            </a>
            <div class="dropdown-menu dropdown-menu-right  ">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>

<nav class="navbar navbar-expand-sm   navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand d-sm-none" href="#">Menu</a>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/dashboard">
          <i class="fa fa-th-large"></i> Dashboard</a>
      </li>

      <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-archive"></i> Masters
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" >
            <i class="fa fa-angle-right"></i> Depot Master</a>
          <a class="dropdown-item" routerLink="/auth/masters/dealer">
            <i class="fa fa-angle-right"></i> Dealer Master</a>
          <a class="dropdown-item">
            <i class="fa fa-angle-right"></i> Device Master</a>
        </div>
      </li>

      <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-sitemap"></i> Services
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" routerLink="/auth/masters/location">
            <i class="fa fa-angle-right"></i> Service Schedule</a>
          <a class="dropdown-item" routerLink="/auth/masters/vehicle">
            <i class="fa fa-angle-right"></i> Service Update</a>
          <a class="dropdown-item">
            <i class="fa fa-angle-right"></i> Machine Maintanance Log</a>
          <a class="dropdown-item">
            <i class="fa fa-angle-right"></i> Sales/Shipments</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-users"></i> Dealers </a>
      </li>

      <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-database"></i> Analytics
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" routerLink="/auth/masters/location">
            <i class="fa fa-angle-right"></i> Fuel</a>
          <a class="dropdown-item" routerLink="/auth/masters/vehicle">
            <i class="fa fa-angle-right"></i> Batch</a>
          <a class="dropdown-item">
            <i class="fa fa-angle-right"></i> Oil Pressure</a>
          <a class="dropdown-item">
            <i class="fa fa-angle-right"></i> Temperature</a>
          <a class="dropdown-item">
            <i class="fa fa-angle-right"></i> Battery</a>
          <a class="dropdown-item">
            <i class="fa fa-angle-right"></i> Breakdown Time</a>
        </div>
      </li>

      <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-bar-chart"></i> Reports
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" routerLink="/auth/masters/location">
            <i class="fa fa-angle-right"></i> Device Stock</a>
          <a class="dropdown-item" routerLink="/auth/masters/vehicle">
            <i class="fa fa-angle-right"></i> Machine Faults</a>
          <a class="dropdown-item">
            <i class="fa fa-angle-right"></i> Machine Maintanance</a>
          <a class="dropdown-item">
            <i class="fa fa-angle-right"></i> Engine Faults</a>
          <a class="dropdown-item">
            <i class="fa fa-angle-right"></i> Vehicle Performance and Productivity</a>
        </div>
      </li>

       <li class="nav-item">
        <a class="nav-link" routerLink="/auth/graphs">
          <i class="fa fa-area-chart"></i> Graphs</a>
      </li>
    </ul>
  </div>
</nav>
