.navbar-nav {
    .dropdown-menu{background: #eee;border-radius: 0px; border: 0px;
    }
}
.dropdown-menu{-webkit-transition : all 0.2s linear;
    -o-transition : all 0.2s linear;
  -moz-transition : all 0.2s linear;
       transition : all 0.2s linear;
       }