/* Global */
@font-face{font-family: "Open Sans";
    src: url("https://db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.svg#Open Sans") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Roboto";
    src: url("//db.onlinewebfonts.com/t/5673da52c98bb6cb33ada5aaf649703e.eot");
    src: url("//db.onlinewebfonts.com/t/5673da52c98bb6cb33ada5aaf649703e.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5673da52c98bb6cb33ada5aaf649703e.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/5673da52c98bb6cb33ada5aaf649703e.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/5673da52c98bb6cb33ada5aaf649703e.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/5673da52c98bb6cb33ada5aaf649703e.svg#Roboto") format("svg");
}
body{font-family: "Roboto" !important; font-size: 12px !important;  background: #ddd; }

.body-height{min-height: 60vh}
.box-fluid{padding: 0 60px;}
@media (max-width: 767px){
    .box-fluid {padding: 0 10px;}
}
::-webkit-scrollbar {width:8px; height:8px;} 
::-webkit-scrollbar-track {background-color: #666;} 
::-webkit-scrollbar-thumb {background-color:#ccc;}
::-webkit-scrollbar-button {display: none;} 
::-webkit-scrollbar-corner {background-color: #666;}

::-webkit-input-placeholder {color: #ccc !important;}
::-moz-placeholder {color: #ccc !important;  }
:-ms-input-placeholder {color: #ccc !important;  }
:-moz-placeholder {color: #ccc !important;  }

 

.bg-primary{background: #FF8C17 !important; color: #fff !important;}

a:hover{text-decoration: none}
.text_red{color:#f00}

.form-control{border-left: 3px solid #ccc; border-radius: 0px; border-color: #ccc}
.modal-footer{border: none; padding-top: 0px;}

/* -- HEADER -- */
.color-line {background: #daaa00;
    height:4px;
    background-image: -webkit-linear-gradient(left, #034c96 10%,#034c96 10%, #e000ba 15%,#e000ba 15%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%,#e67e22 75%, #ff0000 85%, #ff0000 90%, #c0392b 85%, #c0392b 100%);
    background-image: -moz-linear-gradient(left, #034c96 10%,#034c96 10%, #e000ba 15%,#e000ba 15%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #ff0000 85%, #ff0000 90%, #c0392b 85%, #c0392b 100%);
    background-image: -ms-linear-gradient(left, #034c96 10%,#034c96 10%, #e000ba 15%,#e000ba 15%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #ff0000 85%, #ff0000 90%, #c0392b 85%, #c0392b 100%);
    background-image: linear-gradient(to right, #034c96 10%,#034c96 10%, #e000ba 15%,#e000ba 15%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #ff0000 85%, #ff0000 90%, #c0392b 85%, #c0392b 100%); 
    background-repeat: no-repeat;
}
header{padding:7px 0; background:#fff}

header .settings{z-index:9999 !important;}
header .settings .dropdown-item{font-size: 12px !important;padding: 0.25rem 0.8rem !important;}

.welcome-hd-text{font-size:30px;  margin-top:5px;}
@media screen and (max-width:650px) {.welcome-hd-text{ font-size:20px;}}
@media screen and (max-width:418px) {.welcome-hd-text{ font-size:16px;}}
.navbar{background: #FF8C17 !important; }
.navbar{padding:2px 40px;}
@media (max-width: 767px){.navbar{padding:2px;}}
.nav-item { padding-left: 15px; padding-right: 15px;}
.navbar .nav-item a{color: #fff !important; font-size: 14px;}
.navbar .dropdown-menu a{color: #000 !important; padding:4px 15px; }
 


.dropdown-menu{font-size:14px !important;}
.btn{font-size:14px !important;}
.form-control{font-size:14px !important;}


.navbar-light .navbar-brand{color:#fff;}
.navbar-light .navbar-toggler{border: none;}
.dropdown-menu a{-webkit-transition: .3s all ease;
-moz-transition: .3s all ease;
transition: .3s all ease;}

.dropdown-menu a:hover{
	padding: 3px 0;
	padding-left:25px;
	font-weight:500;cursor: pointer
}

/*--// Header end -- */


/* Footer */
html {
position: relative;
min-height: 100%;
}
body {
margin-bottom:40px; /* Margin bottom by footer height */
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
height:40px; /* Set the fixed height of the footer here */
line-height:40px; /*Vertically center the text there */
background-color: #000;
font-size: 13px;
}
.footer a{ margin-right: 12px; margin-left: 12px; color: #fff;}
.sticky-top{z-index: 1001 !important;}
/*--// Footer -- */

body .ui-widget{ font-size: 13px !important;font-family: "Roboto" !important;}

.ui-overflow-hidden{position: relative !important;}

body .ui-dialog .ui-dialog-content, .ui-dialog-footer, .ui-dialog-titlebar{border: none !important;}
body .ui-dialog .ui-dialog-footer{ text-align: center !important;}

.ui-widget input{ padding: 5px; border-radius: 4px; border: 1px solid #999}
.ui-fieldset{margin-bottom: 25px;}

/* .ui-table .ui-table-thead{ background: url("../img/th-bg.jpg") no-repeat !important; color: #fff !important} */
/* .ui-table .ui-table-thead > tr > th{ background: url("../img/th-bg.jpg") no-repeat !important; color: #fff !important} */
.ui-table .ui-table-thead > tr > th{ background:#505154 !important; color: #fff !important; font-weight: 500 !important; }
.ui-fieldset, .ui-fieldset .ui-fieldset-legend{background: #000; color: #fff; padding:5px 10px !important; font-size: 18px;}
.ui-fieldset .ui-fieldset-legend-text{vertical-align:initial !important}

 


.bg-tittle{
    background: #4c4c4c;
    background: -moz-linear-gradient(top, #4c4c4c 6%, #131313 71%);
    background: -webkit-linear-gradient(top, #4c4c4c 6%,#131313 71%);
    background: linear-gradient(to bottom, #4c4c4c 6%,#131313 71%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}
.bg-tittle h5{margin-bottom: 0px; color: #ccc}

.add_button{background: #11a700; color: #fff;}

.btn_s{padding:1px 10px;}

.breadcrumb-bg{background: none !important; margin-bottom: 0px !important; padding: 0px !important; margin-top: 3px;}
.breadcrumb-bg a{color: #000 !important;}

.body_bg{ background: #fff; min-height: 76vh; padding-bottom: 30px;}
.body_title{background:#eee}
.body_title h5{color: #000 !important; margin-bottom: 0px;}

.customer_heading {
    color: #fff;
    background: #444;
    padding:6px 10px;
    font-size: 18px;
}

/* Dashboard */
.dashboard_bg{
    background:url('../img/dashboard_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 1px;
}
.card{margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 4px 6px 0px rgba(90, 90, 90, 0.3);
    border-radius: 9px;
    transition: all 0.3s ease;
    border-bottom: 3px solid #da251d;
    border: 0px;
}
.card .table-sm td{padding: 0.25rem;}
.card-header{
    border-radius: 3px;
    padding:6px 10px;
    margin: -20px 15px 0 15px;
}
.card-header-info{
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.14), 0 4px 6px -5px rgba(0, 188, 212, 0.4);
    background: linear-gradient(60deg, #26c6da, #00acc1);
}
.card-header-one{
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.14), 0 4px 6px -5px rgba(1, 5, 5, 0.4);
    /* background: linear-gradient(60deg, #ffed00, #e67e22); */
    background: #000;
}
.card-header-two{
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.14), 0 4px 6px -5px rgba(1, 5, 5, 0.4);
    background: linear-gradient(60deg, #FF8C17, #000);
}
.card-header .title{ font-size: 18px; color: #ff8c17;}

.height_180{ height: 180px;}
.height_250{ height: 250px;}

.tablescroll {
    overflow: auto;
	height:200px;
}
.tablescroll_2{
    overflow: auto;
	height:250px;
} 
.table-sm td{padding: 0.4rem;}
.btn-off{background: #c0392b; padding:1px 5px; font-size: 12px !important;}
.btn-on{background:#61A706; padding:1px 5px;font-size: 12px !important;}

.table .thead-dark th{ background: #FF8C17; font-weight: normal; border-color: #ffac59}

.modal_large{max-width: 1200px !important;}

.trackvehicle-header{ 
    background: url('../img/trackvehicle-header.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 155px;
    width: 100%;
    position: relative;
    z-index: 999;
}

.selectDrop .ui-dropdown{
    width: 100% !important;
    border: 1px solid #cccccc !important;
    border-radius: 0px !important;
    border-left: 3px solid #ccc !important;
    padding-left: 5px;
}