<div class="container-fluid box-fluid">
    <div class="row">
        <div class="col-md-12 body_bg">

            <div class="body_title p-2 mb-2 text-white">
                <div class="row">
                    <div class="col-sm-6">
                        <app-nav [Parent]="parentText" [child]="childText"></app-nav>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 text-md-center text-center">
                    <h4>Dealer Details</h4>
                </div>
            </div>

            <p-table #dt autoLayout="true" [globalFilterFields]="['dealerCode','dealerName','address.cityName','address.stateName','dealerHead.mobile','dealerPAN']" [value]="dealerList" [rowsPerPageOptions]="[10,20,50,100]"
                [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">

                    <div class="row mb-1">
                        <div class="col-md-6 col-sm-6">
                            <div align="left">
                                <button type="button" class="btn btn-success btn-sm" (click)="openAddDealer('')">+ Add
                                    Dealer</button>
                            </div>
                        </div>
                        <div class="col-lg-12 col-lg-12">

                            <div align="right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')">
                            </div>
                        </div>

                    </div>
                    <!-- <div class="col-md-6 col-sm-6">
                        <div align="right">
                            <button type="button" class="btn btn-success btn-sm" >+ Add Dealer</button>
                        </div> -->
                    <!-- </div> -->
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Dealer Code</th>
                        <th>Dealer Name</th>
                        <th>Location</th>
                        <th>State</th>
                        <th>Address</th>
                        <th>PAN no.</th>
                        <th>DealerShip Type</th>
                        <th>Dealer Head</th>
                        <th>Email ID</th>
                        <th>Head Mobile</th>
                        <th>AOC</th>
                        <th>LOI</th>
                        <th>Expiry Date</th>
                        <!-- <th>Initial Security Deposit</th> -->
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dealer ngFor let-i="rowIndex+1" ;>
                    <tr [pSelectableRow]="dealer">
                        <td>{{i}}</td>
                        <td data-title="Dealer Code">{{dealer.dealerCode}}</td>
                        <td data-title="Dealer Name">{{dealer.dealerName}}</td>
                        <td data-title="Location" style="width:15%;">{{dealer.address.cityName}}</td>
                        <td data-title="State" style="width:15%;">{{dealer.address.stateName}}</td>
                        <td data-title="Address" style="width:15%;">{{dealer.address.dealerAddress}}</td>
                        <td data-title="PAN no.">{{dealer.dealerPAN}}</td>
                        <td data-title="DealerShip Type">{{dealer.dealershipType}}</td>
                        <td data-title="Dealer Head">{{dealer.dealerHead.name}}</td>
                        <td data-title="Email ID">{{dealer.dealerHead.email}}</td>
                        <td data-title="Head Mobile">{{dealer.dealerHead.mobile}}</td>
                        <td data-title="AOC">{{dealer.areaOfConcertration}}</td>
                        <td data-title="LOI">{{dealer.LOIDate}}</td>
                        <td data-title="Expiry Date">{{dealer.ExpiryLOIDate}}</td>
                        <!-- <td data-title="Initial Security Deposit">{{dealer.dealerBGs.bgSurityAmount}}</td> -->
                        <td data-title="Status">{{dealer.dealerStatus}}</td>
                        <td data-title="Action" class="text-center">
                            <a class="btn bg-blue btn-xs radius_none" href="" data-toggle="modal" (click)="openAddDealer(dealer)">
                                <span class="fa fa-edit margin-right-0"></span></a>
                            <a class="btn bg-red btn-xs radius_none" *ngIf="dealer.dealerStatus=='Active'" (click)="deleteDealer(dealer)"
                                href="" data-toggle="modal"> <span class="fa fa-trash margin-right-0"></span></a>
                            <a class="btn bg-green btn-xs radius_none" *ngIf="dealer.dealerStatus=='In Active'" (click)="deleteDealer(dealer)"
                                href="" data-toggle="modal"> <span class="fa fa-thumbs-up margin-right-0"></span></a>
                        </td>
                    </tr>

                    <!-- <td *ngFor="let col of columns">
                                        <span *ngIf="col.format=='string'">{{result[col.field]}}</span>
                                        <span *ngIf="col.format=='date'">{{result[col.field] | date:'dd/MM/yyyy'}}</span>
                                    </td> -->


                    <!-- <td>{{result.createdAt}} </td> -->
                    <!-- <td>
                                        <button type="button" title="Edit" class="btn btn-sm m-1 btn-outline-primary btn_s" ></button>
                                    </td> -->
                    <!-- </tr> -->

                </ng-template>

            </p-table>

        </div>
    </div>
    <div *ngIf="isAddModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
        class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white py-2">
                    <h4 id="dialog-auto-name" class="modal-title text-white text-center">
                        {{pageTitle}}
                    </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow:hidden">
                    <form class="selectDrop">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Code :</label>
                                    <input type="text" class="form-control" name="dealerCode" [(ngModel)]="dealer.dealerCode" required>                                    
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Name :</label>
                                    <input type="text" class="form-control" name="dealerName" [(ngModel)]="dealer.dealerName"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Ship Type :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <select class="form-control" name="dealershipType" [(ngModel)]="dealer.dealershipType"
                                                required>
                                                <option value="">Select Dealership Type</option>
                                                <option value="PROPRIETORSHIP">PROPRIETORSHIP</option>
                                                <option value="PARTNERSHIP">PARTNERSHIP</option>
                                                <option value="PRIVATE LIMITED">PRIVATE LIMITED</option>
                                            </select>
                                        </div><span class="input-group-addon radius_none"><i class="fa fa-check color_orange"></i></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Address :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <textarea class="form-control animated" placeholder="Address " name="dealerAddress"
                                                [(ngModel)]="dealer.address.dealerAddress" required></textarea>
                                        </div><span class="input-group-addon radius_none"><i class="fa fa-map color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Country :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <p-dropdown class="form-control" name="countryName" placeholder="Country" [(ngModel)]="dealer.address.countryName"
                                                 (onChange)="getZones(dealer.address.countryName)" [options]="countries" optionLabel="countryName"
                                                required>
                                            </p-dropdown>
                                        </div>
                                        <span class="input-group-addon radius_none">
                                            <i class="fa fa-globe color_orange"></i>
                                        </span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Zone :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <p-dropdown class="form-control" name="dealerZone" placeholder="Dealer Zone" [(ngModel)]="dealer.dealerZone"
                                                [options]="zones" (onChange)="getStates(dealer.dealerZone)" required>
                                                <option value="">Select Zone</option>

                                            </p-dropdown>
                                        </div><span class="input-group-addon radius_none"><i class="fa fa-check color_orange"></i></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">State :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <p-dropdown class="form-control" id="stateName" name="stateName" placeholder="State"
                                                [(ngModel)]="dealer.address.stateName" [options]="states" required>
                                                <option value="">Select State </option>
                                            </p-dropdown>
                                        </div><span class="input-group-addon radius_none"><i class="fa fa-flag-o color_orange"></i></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">City :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="City" name="city" class="form-control" id=""
                                                [(ngModel)]="dealer.address.cityName">
                                        </div>
                                        <span class="input-group-addon radius_none">
                                            <i class="glyphicon glyphicon-map-marker color_orange"></i>
                                        </span>
                                    </div>
                                    <div class="col-sm-5"></div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Pin Code :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Pin Code" name="pinCode" class="form-control"
                                                id="" [(ngModel)]="dealer.address.pinCode" ng-pattern="pincode">
                                        </div><span class="input-group-addon radius_none"><i class="glyphicon glyphicon-map-marker color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.pinCode.$error.required"> Required *</span> -->

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Head :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Dealer Head" name="dealerHead" class="form-control"
                                                id="" [(ngModel)]="dealer.dealerHead.name" required> </div><span class="input-group-addon radius_none"><i
                                                class="fa fa-user color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Head Mail ID :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Dealer Head Mail ID" name="dealerHeadEmail"
                                                class="form-control" id="" [(ngModel)]="dealer.dealerHead.email"
                                                ng-pattern="emailValidator" required>
                                        </div> <span class="input-group-addon radius_none"><i class="fa fa-envelope color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Head mobile :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Dealer Head mobile" name="dealerHeadMobile"
                                                class="form-control" id="" [(ngModel)]="dealer.dealerHead.mobile"
                                                ng-pattern="mobileNumber" required> </div> <span class="input-group-addon radius_none"><i
                                                class="glyphicon glyphicon-phone color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Alternate Mobile Number :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Alternate Mobile Number" name="dealerTelNum"
                                                class="form-control" id="" [(ngModel)]="dealer.dealerTelNum" ng-pattern="mobileNumber">
                                        </div> <span class="input-group-addon radius_none"><i class="fa fa-fax color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Fax Number :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Fax Number" name="dealerFaxNum" class="form-control"
                                                id="" [(ngModel)]="dealer.dealerFaxNum">
                                        </div> <span class="input-group-addon radius_none"><i class="fa fa-fax color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.dealerFaxNum.$error.pattern">Must match 040-12345678</span> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Agreement Date :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"
                                             name="dealerAgreementDate" placeholder="Agreement Date" [(ngModel)]="dealer.dealerAgreementDate"  required />
                                        </div> <span class="input-group-addon radius_none"><i class="fa fa-calendar color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.dealerAgreementDate.$invalid"> Required *</span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Appointment Date :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">

                                            <input type="text" placeholder="Appointment Date" name="dealerAppointmentDate"
                                                class="form-control" id="" [(ngModel)]="dealer.dealerAppointmentDate"
                                                bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
                                        </div> <span class="input-group-addon radius_none"><i class="fa fa-calendar color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.dealerAppointmentDate.$invalid"> Required *</span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">LOI Date :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">

                                            <input type="text" placeholder="LOI Date" name="LOIDate" class="form-control"
                                                id="" [(ngModel)]="dealer.LOIDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">

                                        </div> <span class="input-group-addon radius_none"><i class="fa fa-calendar color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.LOIDate.$invalid"> Required *</span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">LOI Expiry Date :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">

                                            <input type="text" placeholder="LOI Expiry Date" name="ExpiryLOIDate" class="form-control"
                                                id="" [(ngModel)]="dealer.ExpiryLOIDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">

                                        </div> <span class="input-group-addon radius_none"><i class="fa fa-calendar color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.ExpiryLOIDate.$invalid"> Required *</span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Ship Operation Date :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Dealer Ship Operation Date" name="dealerShipOperationDate"
                                                class="form-control" id="" [(ngModel)]="dealer.dealerShipOperationDate"
                                                bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
                                        </div> <span class="input-group-addon radius_none"><i class="fa fa-calendar color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.dealerShipOperationDate.$invalid"> Required *</span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Ship Closer Date :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">

                                            <input type="text" placeholder="Dealer Ship Closer Date" name="dealerShipCloserDate"
                                                class="form-control" id="" [(ngModel)]="dealer.dealerShipCloserDate"
                                                bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
                                        </div> <span class="input-group-addon radius_none"><i class="fa fa-calendar color_orange"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.dealerShipCloserDate.$invalid"> Required *</span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer GST No :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Dealer GST" name="dealerGST" class="form-control"
                                                id="" [(ngModel)]="dealer.dealerGST">
                                        </div> <span class="input-group-addon radius_none"><i class="SDF_symbol_col"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.dealerGST.$invalid"> Required *</span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer PAN NO :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Dealer PAN No" name="dealerPAN" class="form-control"
                                                id="" [(ngModel)]="dealer.dealerPAN">
                                        </div> <span class="input-group-addon radius_none"><i class="SDF_symbol_col"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.dealerPAN.$invalid"> Required *</span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Legal Entity :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Dealer Legal Entity" name="dealerLegalEntity"
                                                class="form-control" id="" [(ngModel)]="dealer.dealerLegalEntity">
                                        </div> <span class="input-group-addon radius_none"><i class="SDF_symbol_col"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.dealerLegalEntity.$invalid"> Required *</span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer AOC :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Dealer AOC" name="dealerAoc" class="form-control"
                                                id="" [(ngModel)]="dealer.areaOfConcertration">
                                        </div> <span class="input-group-addon radius_none"><i class="SDF_symbol_col"></i></span>
                                    </div>
                                    <div class="col-sm-5"></div>
                                    <!-- <span class="err-msg col-sm-7 col-md-7" *ngIf="createDealer.submitted && createDealer.dealerAoc.$invalid"> Required *</span> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Notification Alert:</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <select class="form-control" name="notificationAlert" [(ngModel)]="dealer.dealerBGs.notificationAlert"
                                                ng-pattern="numbers">
                                                <option value="">Select Days</option>
                                                <option value="7"> 7 Days</option>
                                                <option value="30">30 Days</option>
                                                <option value="60">60 Days</option>
                                                <option value="90">90 Days</option>
                                            </select>
                                        </div><span class="input-group-addon radius_none"><i class="fa fa-bell color_orange"></i></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for=""> Initial Security Deposit :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Surity Amount" name="surityAmount" class="form-control"
                                                id="" [(ngModel)]="dealer.dealerBGs.bgSurityAmount" ng-pattern="numbers">
                                        </div>
                                        <span class="input-group-addon radius_none"><i class="fa fa-money color_orange"></i></span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="">Dealer Vehicles Limit :</label>
                                    <div class="col-sm-7 col-md-7 input-group input-group-md">
                                        <div class="icon-addon addon-md">
                                            <input type="text" placeholder="Vehicles Limit" name="vehiclesLimit" class="form-control"
                                                id="" [(ngModel)]="dealer.dealerBGs.bgVehicleLimit" ng-pattern="numbers">
                                        </div> <span class="input-group-addon radius_none"><i class="fa fa-money color_orange"></i></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button class="btn btn-success"  [disabled]="!myForm.valid" >                        -->
                    <button class="btn btn-success" (click)="saveDealers()"><i class="fa fa-save"></i> Save </button>
                </div>
            </div>
        </div>
    </div>