<h3 class="first">Severities</h3>
<button type="button" pButton (click)="toast.show('success','successful','loaded')" label="Success" class="ui-button-success"></button>
<button type="button" pButton (click)="toast.show('warn','warning','failed')" label="Warning" class="ui-button-success"></button>
<app-toast #toast ></app-toast>

